[2018-06-18 16:10] levrik opened #1 "Differences to slightfoot/flutter_sticky_headers"
What are the actual differences to slightfoot/flutter_sticky_headers in the implementation? Which implementation is better?

Would be nice to get a few questions answered that help picking one of the two libraries :)

[2018-06-18 18:11] letsar commented on #1
Hi @levrik! This is a very good question.
The difference is in the kind of widgets you want to put as a child:
The slightfoot/flutter_sticky_headers wants a **RenderBox** as a child while this package wants a **RenderSliver**.

For example the **Column** widget renders a **RenderBox**, whereas the **SliverList** renders a **RenderSliver**.
So the **Column** widget will work with the slightfoot/flu

[2018-06-23 15:48] letsar opened #2 "The percentage observer won't work well"
As stated by Hixie (https://github.com/flutter/flutter/issues/466#issuecomment-397836932):

To resolve this:

[2018-06-24 06:14] #2 closed

[2018-06-27 08:33] DanielSparber opened #4 "SliverStickyHeaderBuilder: add isPinned parameter"
Is it possible to add an additional paramater to the builder function? I.e. to indicate if the header is currently fixed at the top or positioned normally within the scroll view:

For this example isPinned would be true for Header#10 and false for any other visible header.

![grafik](https://user-images.githubusercontent.com/8910833/41962271-e098d9d6-79f4-11e8-9f53-cbb24733001b.png)

[2018-06-29 15:16] bunopus opened #5 "Nested SliverStickyHeader"
Thank you for your library, it's super useful. I have one question: Is it possible to achieve something like this:

<img src="https://user-images.githubusercontent.com/9258200/42099203-7cd66346-7bc5-11e8-8914-850639d01784.gif" width="400px">

As you can see header with dates sticks to the screen as well as the side header with time (it is a https://github.com/google/iosched app). Example app have

[2018-06-29 18:00] letsar commented on #5
Hi @bunopus, thanks for the feedback 😃.
All the slivers are in a CustomScrollView I presume?
I am working on a way to have Nested SliverStickyHeader for another feature, but for now I am stucked 😞 .
I will have another look to this thanks to your example.
I will keep you posted.

[2018-06-29 18:01] letsar commented on #4
Hi @DanielSparber.
I will work on this this week-end. I'll keep you posted.

[2018-06-30 05:17] letsar commented on #4
I've got something working in the branch: https://github.com/letsar/flutter_sticky_header/tree/feature/pinned-state.

![sticky_header_pinned](https://user-images.githubusercontent.com/9378033/42121763-7d25337a-7c35-11e8-82e0-0fe25547bdf2.gif)

If this what you had in mind I will publish it.

[2018-06-30 05:48] DanielSparber commented on #4
Yes, it's exactly what I had in mind. Thanks a lot!

[2018-06-30 05:56] letsar commented on #4
Merged and published, have fun!

[2018-06-30 05:58] #4 closed

[2018-06-30 09:11] letsar commented on #5
I reproduced the issue, and saw that the `SliverStickyHeader` was painted under the AppBar. I think I will have to play with the `SliverOverlapAbsorber` to fix this.

![sticky_header_pinned_under_app_bar](https://user-images.githubusercontent.com/9378033/42123667-2eacd272-7c56-11e8-8ed5-217345a60373.gif)

[2018-06-30 12:37] letsar commented on #5
I found how to do it :grin:!

![sticky_header_pinned_app_bar_ok](https://user-images.githubusercontent.com/9378033/42125213-a4a17548-7c72-11e8-8379-be3c6ce1a045.gif)

It's a little bit complex since you'll have to play with `SliverOverlapAbsorber`. If you find a simpler solution will you share it here please?

You can find the entire code for the view above here: https://gist.github.com/letsar/2e3

[2018-06-30 12:38] #5 closed

[2018-06-30 12:40] bunopus commented on #5
@letsar Wow! 😍
Thank you so much! Will try it right now!

[2018-06-30 12:50] letsar commented on #5
You're welcome 😄 .
If you find this library useful, don't hesitate to ⭐️ it 😉

[2018-06-30 13:17] bunopus commented on #5
Tried your solution, and noticed one thing: app bar title ("Main AppBar") remains on the screen with tab bar. It's not exactly what i want. I think user don't need to see title all the time. In the original Google IO app (in first post) app bar title hides when user scrolls page. Maybe you know how to achieve that? Found PR https://github.com/flutter/flutter/pull/8345 and it says that you can pass

[2018-06-30 13:48] letsar commented on #5
Your're welcome and yes you're right it's not exactly what you wanted but it's more a `SliverAppBar `issue than a `SliverStickyHeader `one :wink:.

[2018-07-18 07:36] DanielSparber opened #7 "Header: Button not clickable"
When using a button as child of the header, onPress or any other touch events are no longer triggered as soon as the header overlaps the list items.

[2018-07-18 17:18] #7 closed

[2018-07-18 17:22] letsar commented on #7
Fixed in 0.3.1.

[2018-08-11 20:40] SteveAlexander opened #8 "off by one pixel"
I'm noticing a one pixel difference at the top when I use a CustomScrollView containing a SliverList, and a CustomScrollView using SliverStickyHeader.

![image](https://user-images.githubusercontent.com/4321921/43995857-f9a9fd6e-9dae-11e8-87b3-ba0765a781d2.png)

To reproduce, clone https://github.com/SteveAlexander/one_pixel_bug
then tap in the text area at the top of the screen so that it gets fo

[2018-08-15 10:26] liadya opened #9 "rtl support"
Please add support for right to left layouts/languages (Hebrew for example),
for example, cannot change the location of the SliverStickyHeader.header to be located on the right side of the list.

[2018-08-18 23:38] iambudi opened #10 "Sticky with SliverAppBar"
I could not manage to use sticky header with sliver app bar when pinned set to true. The sliver sticky header scrolled below sliver app bar.

[code]
Thank you.

[2018-08-19 08:04] letsar commented on #8
Hi @SteveAlexander,

Thanks a lot for the project to reproduce this issue 😃.
I am able to reproduce and I will look into it.

[2018-08-19 09:42] letsar commented on #8
Ok, I looked into it, but I don't think this issue is caused by the `SliverStickyHeader` widget.
If I insert the following code before the `SliverStickyHeader` I have also the same issue:

[code]
![screenshot_1534669502](https://user-images.githubusercontent.com/9378033/44307350-190acb00-a3a1-11e8-8c08-032f89b637ce.png)

If I replace the `TextField` by a `Container `of 2px, there are no more issue

[2018-08-19 09:48] letsar commented on #10
Hi @iambudi,

Thanks for this issue, I managed to reproduce it. I will look into it.

[2018-08-19 11:07] SteveAlexander commented on #8
That makes sense! Thanks for checking it out. And, thanks for making flutter_sticky_header too — I'm using it a lot.

I have a workaround for my app, placing the TextField in a Padding with 1px on the bottom.

But it would be good to get this fixed in flutter too — I'm happy to file a bug on flutter... or perhaps you're already doing so?

[2018-08-19 16:26] letsar commented on #8
Thanks for your feedback 😄.
No I didn't file this bug to the flutter repo, I leave you the privilege 😄. Feel free to reference it from here, in case others find the same issue.

[2018-08-21 07:13] letsar commented on #9
Hi @liadya,
Thanks for this issue, I will add this to the next version 😃 !

[2018-08-21 21:37] letsar commented on #9
I ran more tests and in fact, my header was built like this:
[code]
In my case the `alignment` was hard coded to `centerLeft`.

If I only set a `Text`, it is correctly rendered with the proper text direction. So this widget already supports Ltr and Rtl  text directions 😃.

Can you paste here the method you used to create your headers?

[2018-08-22 06:29] letsar commented on #10
Published in version 0.3.3

[2018-08-24 13:43] wwwdata opened #11 "Reverse list support"
When using a `CustomScrollView` with the `reverse` property set to `true` it would make sense to reverse the `SliverStickyHeader` as well. In a reversed list, the header currently is at the bottom of the list. I suggest to add a `reverse` option to `SliverStickyHeader` as well, so it renders after the other sliver widgets, instead of before.

[2018-08-25 02:43] iambudi commented on #10
It works like a charm now 😍.
One thing to note in sliver_sticky_header.dart it still print to console
print('headerPosition=$headerPosition');

Thank you so much.

[2018-08-25 08:31] letsar commented on #11
Hi @wwwdata, I'm not sure to understand, if the header is rendered after its child, it will not be sticky, isn't it? 😕
Can you attach a drawing or something like that to help me to understand?

[2018-08-25 17:39] wwwdata commented on #11
Imagine a chat app like WhatsApp. You always have the days as headlines and you start at the bottom of the list and scroll up. So I always want to have the headline at the top of the sliver instead of the bottom, which is the case when it is just reversed.

I started looking at the code and trying to make it work on my own, I will maybe look tomorrow or monday again and see if I can make it work o

[2018-08-25 22:08] letsar commented on #11
Ok I think I got it. I started something on a feature branch: https://github.com/letsar/flutter_sticky_header/tree/feature/reverse. Can you test it and tell me if I go in the right direction?

[2018-08-27 07:28] wwwdata commented on #11
@letsar yes you are heading in the right direction! was also doing these exact changes when I started. Now the fadeout of the header also needs to happen at the top and not bottom and that's it I guess.

[2018-09-05 04:31] phucgaoxam opened #12 "How to know pinned header's position without tap it?"
I need to detect the action when the header is pinned, which will return a index of that header or a callback.
Can you consider this is a request for new feature or at least show me the way how to archive it in your plugin.
Many thanks.

[2018-09-05 04:35] phucgaoxam commented on #12
Oh I found it, the isPinned parameter, sorry

[2018-09-05 04:35] #12 closed

[2018-09-17 01:53] arvanus opened #13 "Two levels"
Is it possible to have 2 levels of headers?
For example, in an agenda, I would like to group by month, and by day!
Thanks!

[2018-09-17 05:40] letsar commented on #13
Hi @arvanus, it's a feature I want to implement since the first release, but I didn't find yet how to do it in a simple way. Any help would be appreciated.

[2018-09-25 07:07] liadya commented on #9
Hi Roman,

thanks for the response, but currently we move forward with another
implementation.

ps. btw great widget.

On Wed, Aug 22, 2018 at 12:37 AM Romain Rastel <notifications@github.com>
wrote:

[2018-09-25 07:17] letsar commented on #9
Hi @liadya ,

Ok no problem, I will close this issue then.
With which implementation did you move forward?

Thanks for your feedback 😃

[2018-09-25 07:18] #9 closed

[2018-10-27 06:51] Vignesh150493 opened #14 "No dynamic sizing for headers."
I am guessing that the header has a fixed size? I had given more text and a bigger font size and the text is cut.

[2018-11-09 04:33] bood commented on #10
Is this bug back again? I'm seeing the same issue on flutter beta 10. @letsar

[2018-11-09 18:12] letsar commented on #10
Hi @bood, I'm not reproducing this with the latest beta (0.10.2). On which Flutter branch are you?
Can you paste a standalone code example to repro this?

[2018-11-10 12:44] bood commented on #10
My apology. It appears to be a mistake made by my own. I saw the scrolling content below the sticky header, and thought it was a bug. Now I understand it's just I have to provide the header a background color.

Thanks for the quick response anyway!

[2018-11-10 13:11] letsar commented on #10
Ah ok, no problem 🙂

[2018-12-06 22:56] pgulegin opened #15 "Compatibility issue with pull_to_refresh"
First off, I just wanted to say that I really enjoy this plugin, thank you for your development effort!

I am having a bit of an issue getting it to work correctly with another plugin titled pull_to_refresh: https://pub.dartlang.org/packages/pull_to_refresh

It appears that the title is sticky-ing to a location that is hidden away. Quick example:

[code]

I understand that this is not necessarily

[2018-12-08 16:36] letsar commented on #15
Hi @pgulegin. I add a pinned `SliverAppBar `at the first sliver to see what it does, and this is the result:
![pull_to_refresh_bug](https://user-images.githubusercontent.com/9378033/49688225-11696080-fb0f-11e8-97b4-4ced794cb2f0.gif)

As you can see the the `SliverAppBar `is also hidden and I think it's because of the pull_to_refresh package. Did you try to contact its maintainer?

[2018-12-08 16:42] letsar commented on #14
Hi @Vignesh150493
No you can set the size you want for the header. Do you have some code?

[2018-12-08 20:35] letsar commented on #15
By the way, did you try to use `RefreshIndicator` instead of `SmartRefresher`? It's not the same UI but the UX is the same.

[2018-12-10 16:42] pgulegin commented on #15
I am convinced that this is not a flutter_sticky_header bug.

I have recently reached out to the maintainer, but have yet to hear anything from them.
It appears that they are using a Positioned widget which is changing the location where the list begins and therefore where the header is being sticky-ed.

I was using the RefreshIndicator previously and that works as expected.

[2018-12-10 16:44] pgulegin commented on #15
I am convinced that this is not a flutter_sticky_header bug.

I have recently reached out to the maintainer, but have yet to hear anything from them.
It appears that they are using a Positioned widget which is changing the location where the list begins and therefore where the header is being sticky-ed.

I was using the `RefreshIndicator` previously and that works as expected.
I just liked the sma

[2018-12-10 16:44] #15 closed

[2019-01-02 06:51] workerbee22 commented on #5
There is a simpler solution to use with a **TabBar** that avoids the complicated use of **SliverOverlapAbsorber**

@bunopus you'll notice it is very much like the Google IO app layout and tab/scrolling behaviour you want 👍

[code]

[2019-01-03 00:46] workerbee22 commented on #5
@bunopus You said you achieved this  by adding another SliverAppBar but this means you have 2 SliverAppBars? Your gist link code gives me 2 x bars.

https://gist.github.com/bunopus/4a99dc9def2932e0aff2629f3905093a#file-tab_bar_view-dart-L36-L39

How did you make sure the second SliverAppBar ONLY has the TabBar in it?

[2019-01-05 04:14] tamoyal commented on #1
@letsar This was helpful for me and I think belongs in the README with potentially some elaboration on why this will perform better on big lists.

[2019-01-08 10:12] TatsuUkraine opened #16 "How I can build infinite scroll?"
So case here. I want to build infinite both-direction list and split sections with sticky headers.
How I can do this with your plugin (if it's possible in general)?

P.S. To make both-direction infinite list I used Viewport with 2 SliverList instances, and "center" key, that points to positive direction list

[2019-01-09 15:52] bunopus commented on #5
@workerbee22

Actually it turned out that it leads to bugs, so i leave it with Tab Bar on the screen, as Romain showed few messages above.

[2019-01-15 20:26] ofekashery opened #17 "Add RTL support for SliverStickyHeader"

[2019-01-17 11:02] Thomaszhouwu opened #18 "Please support setting offset display floating head"
First of all, thank you.
Please support the distance property from the previous control.

[2019-01-17 11:06] Thomaszhouwu commented on #18
Now, the distance of the floating head from the previous control is 0. I think the distance from the previous control can be set by itself. Thank you.

[2019-01-17 19:50] ROTGP opened #19 "How to animate/scroll to a particular Sliver"
I'm using SliverStickyHeaderBuilder and provide a List<Widget> as the sliver argument. I've been trying to figure out how to programatically scroll to any given one of these widgets in the list. Normally, you would pass a ScrollController to a ListView and use it's animateTo method, however, I can't see how to integrate similar functionality into your excellent library. Any ideas? If it's of any h

[2019-01-18 09:02] ROTGP commented on #19
On further consideration - this question isn't really within the scope of your library - so I'm closing the issue - thanks anyway for your good work

[2019-01-18 09:02] #19 closed

[2019-01-20 09:43] letsar commented on #17
Hi @ofekashery, In the issue #9 I already investigate this case, and it seemed to work fine.
Can you elaborate please by providing a code sample and the result you would expect?

[2019-01-20 09:44] letsar commented on #18
Hi @Thomaszhouwu, if you set a Padding into your header, you can achieve what you want I think.

[2019-01-21 12:44] ofekashery commented on #17
The code is too long, but our project is open source :)
This is the page: [EventsListPage.dart](https://github.com/orange-alliance/TOA-Flutter/blob/608868069005ed089ca19354c81c9eda092094bc/lib/ui/views/events/EventsListPage.dart).

LTR:
![image](https://user-images.githubusercontent.com/16443111/51475376-d489be00-1d8a-11e9-8a5d-6ac8320ba772.png)

RTL:
![image](https://user-images.githubusercontent

[2019-01-22 03:39] Thomaszhouwu commented on #18
Thank you for your reply。

my code:
![111](https://user-images.githubusercontent.com/8766976/51510978-64d30c00-1e3a-11e9-8022-8d14060578dd.png)

SliverStickyHeader(
        header: Padding(
          padding: EdgeInsets.only(top: 64),
          child: GrouponThemeFilterTabar(
            tabTitles: tabTitles,
          ),
        )
If I add Padding, I will leave extra space from the previous contr

[2019-01-22 03:42] Thomaszhouwu commented on #18
The head navigation bar is my custom navigation bar.

[2019-01-22 03:50] Thomaszhouwu commented on #18
I want the position of the head to float and I can control it myself.

[2019-01-23 07:48] guodf opened #20 "Great"
我想学RenderSliver相关的技能，请问哪里有这方面的教程？
I would like to learn rendersliver related skills, excuse me where there are tutorials in this area?

[2019-03-26 21:14] vijayredme opened #21 "_buildHeader unable to access class level json variable"
@letsar : I am trying to make the header content dynamic instead of just an index. I have a class level variable which holds a local json data, when I am trying to access that variable inside _buildHeader() method it is always null, Wherein I am able to access same variable in other method which is being called from SliverChildBuilderDelegate's ListTile.  Any clue what could be the issue ?

[2019-03-29 04:54] jlcool opened #22 "Expansionable support"
Click on the header to expand

[2019-03-30 07:50] pakyo-pan commented on #11
This would be really useful

[2019-04-11 06:13] jlcool commented on #22
Solve it with this code
[code]

[2019-04-14 09:00] petro-i opened #23 "Example is too complicated"
Please provide more simple example.

Typical task is when there is a list of already created items.
Existing in the example dynamic generation of items produces great mess and there is almost no way to understand how to use plugin.

[2019-05-02 05:35] calvinmuller opened #24 "The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'. - Flutter 1.5.9"
[code]

[2019-05-07 14:41] pavelmeerkat commented on #11
@letsar did you plan to finish this features?

[2019-05-09 19:00] denizhoxha commented on #24
hi clavinmuller
If it helps try to change the offending line to
context: **ErrorDescription**(context)

Br

[2019-05-14 22:44] anisalibegic opened #25 "type 'SliverHitTestResult' is not a subtype of type 'BoxHitTestResult'"
[code]

I'm using version 0.3.4 and Flutter 1.5.4.

[2019-05-19 12:30] cimplesid commented on #25
same issue

[2019-05-19 13:22] ened commented on #25
@grandpa-guru please try to use flutter from dev channel (1.6.0) and use my PR here: #26

[2019-05-20 21:22] SnowXD commented on #23
Here you go. Just assign the below as the body/child of a widget.

[code]

[2019-05-23 16:51] #24 closed

[2019-07-03 11:57] TatsuUkraine commented on #16
@ened @letsar any update on this?) or any answer maybe)

[2019-07-10 15:44] charafau opened #28 "Cannot compile on Flutter 1.7"
After upgrading my project to flutter 1.7, I get following error:
[code]

Looks like easy fix.

[2019-07-10 15:52] charafau commented on #28
After checking out master branch, it seems like issue is fixed on it.

[2019-07-10 15:52] #28 closed

[2019-07-19 15:23] thgoebel commented on #28
For the reference: flutter_sticky_header v0.4.0 works fine, no need to go straight to git

[2019-07-30 07:02] charmfocus commented on #18
yes, It's the same as mine.
please support the feature, thank's

[2019-08-01 10:00] VasylPedos opened #29 "Support header "pinning" progress percentage"
Hi!

I wonder if it is possible to implement some kind of animation when the header is about to be pinned like it is done in the second example of [sticky_headers](https://pub.dev/packages/sticky_headers) library:
![demo2](https://user-images.githubusercontent.com/40064585/62283290-e777fc00-b459-11e9-8c5d-eefb5be39c6c.gif)

As I can understand `scrollPercentage` property of `SliverStickyHeaderStat

[2019-08-04 12:46] vanlooverenkoen commented on #8
Could be related? https://github.com/flutter/flutter/issues/37578

[2019-08-05 06:31] vanlooverenkoen commented on #8
Any progress on this issue?

[2019-08-12 14:54] smm13344331 commented on #11
Hi,

I am implementing a chat widget and using your library to separate messages by date, you can see the same behavior on Whatsapp and Telegram.

I am building several `slivers` that each contain messages on that date and a header which is basically a text showing the relevant date. I pass the `slivers` to a `CustomScrollView` with `reverse` property set to true.

Everything works fine except tha

[2019-08-14 14:25] pavelmeerkat commented on #11
try using different library (https://pub.dev/packages/sticky_headers).

    return StickyHeader(
      header: _sectionHeader(dateText),
      content: Column(
        children: <Widget>[
          if (isLast) _topWidget(),
          for (var i in list.reversed)
            ListTile(
              title: ChatMessageWidget(
                message: i,
                senderUuid: widget.senderUuid,

[2019-08-17 15:11] abdulwahid24 opened #30 "How can we use it with TabBarView?"
I tried to implement this plugin on TabBarView but it doesn't make any impact as headers get scrolled.

Any idea to use this with TabBarView?

[2019-08-19 13:13] abdulwahid24 commented on #30
Hi,

I got my answer from https://gist.github.com/letsar/2e3cc98d328b3e84170abacf154e545f.

Thanks a ton, @letsar, Your work is really worthful and appreciated. Keep it up.

[2019-08-19 13:13] #30 closed

[2019-08-23 05:52] Mopina1026 commented on #28
Thanks !!! works for me

[2019-08-31 17:57] kostaa opened #31 "Question - Expansion tile like behaviour"
How would one go about adding an expansion tile like behaviour so the children would expand/collapse similar to the Flutter [ExpansionTile](https://flutter.dev/docs/catalog/samples/expansion-tile-sample) behaviour?

Is the [Expansionable support #22](https://github.com/letsar/flutter_sticky_header/issues/22) issue related to this?

[2019-09-06 07:09] durduman opened #32 "Using ListView.builder"
Hello can this component be used inside ListView.builder ?

[code]

Checking out the performance it seems that the memory allocation is retained longer than needed so how can we build an " infinite list ".

[2019-09-10 03:52] flutter-arsenal opened #33 "Add flutter_sticky_header to Flutter Arsenal"
flutter_sticky_header can be added to FlutterArsenal to help with reach, accessibility and ease-of-use. [Flutter Arsenal](https://flutterarsenal.com) is a directory that is being curated for Flutter libraries and tool. The best way to do is by creating an issue on [github](https://github.com/flutterarsenal/FlutterArsenal/issues/new/choose).

[2019-09-10 23:17] isorensen opened #34 "Add a custom ScrollController"
Hello, thanks for the great package.
I'm trying to add a simple "Scrollbar", but I can't find a way to wrap the package in a "Scrollbar", or add a "myScrollController" to use [draggable_scrollbar](https://pub.dev/packages/draggable_scrollbar) package, for example.

Is this already possible? Or viable to implement?

Thank you

[2019-09-10 23:29] isorensen commented on #34
I was able to wrap "CustomScrollView" with Scrollbar, and it solved my issue.
I'm closing this issue my own! 👍

[2019-09-10 23:29] #34 closed

[2019-09-20 08:31] JWong1105 commented on #29
Yes, I also think so... this kind of design seems more important than the pinned state. The users wanna see how the header will change when it is about to be pinned. Thank u.

[2019-09-26 16:59] natrayanp opened #35 "Error: pinned header not shown"
I have an issue with the header.   When the header is pinned the colour is GREEN. see in the screenshot the header is pinned but not visible as it has moved inside the tab bar.  Is there any option to set the offset so this can be handled?

![image](https://user-images.githubusercontent.com/31285863/65708586-7a7f8c00-e0c1-11e9-9daa-0ec91134d242.png)

My full code is below:
[code]

[2019-10-05 14:08] natrayanp commented on #18
Please support the feature.  I have the same issue.

[2019-10-07 20:26] MoSala7 opened #36 "silver of SliverStickyHeader over lapping the header"
The problem is shown in the GIF

the silver of the sticky header is overlapping from bottom !!

look at the bottom of the silver it keeps going up like the header is not exist !!

[https://i.stack.imgur.com/ezU86.gif](url)
[https://i.stack.imgur.com/VYOCA.gif](url)

snippets
[code]

[2019-10-18 10:41] maurobotta commented on #32
+1

[2019-11-27 06:25] trqalothman opened #37 "How to setup the list data?"
Hello Romain,

Great work on this package.  It would be really great if you could help us beginners in dart/flutter with a small example on how to setup/prepare our data in the list and how to use the package with it.  my data is structured in a key:value pairs inside a list.

`mylist = [
{name: 'ABC',  age: 23,  date: 2019-11-27},
{name: 'DEF', age: 35, date: 2019-11-26}]`

and I want to extract

[2019-11-27 10:00] trqalothman commented on #37
Anyone? on how the data should be structured and how to call the methods in the package?
thanks

[2019-11-29 15:49] #37 closed

[2019-12-05 08:07] f-person commented on #33
It's already [added](https://flutterarsenal.com/projects/fa-git-flutter-sticky-header). @letsar please close the issue.

[2020-01-04 09:39] misskter opened #39 "A RenderCustomMultiChildLayoutBox expected a child of type RenderBox but received a child of type RenderSliverStickyHeader."
I use this library has this error

A RenderCustomMultiChildLayoutBox expected a child of type RenderBox but received a child of type RenderSliverStickyHeader.

RenderObjects expect specific types of children because they coordinate with their children during layout and paint. For example, a RenderSliver cannot be the child of a RenderBox because a RenderSliver does not understand the RenderBox lay

[2020-01-07 11:12] leemuljadi opened #40 "Header Cut-off Half Way"
Hi Letsar,

Thanks for making such a wondeful and useful package for sliver!
I want to depent on this package for my project but a bit stuck figuring out why the sticky head is being cut-off underneath my sliverpersistentheader (see image below). Could you please help how to work this out so it shows the full header not cut halfway?
Thanks in advance!
![image](https://user-images.githubusercontent

[2020-01-17 16:06] sgruhier opened #41 "Add alphabetic shortcut like it's done on contact apps"
I needed alphabetic shortcut on the right side, like you can have on contact applications for example.
I did something that works, but I'm wondering if there were an easy way to get all section offsets?
My implementation precompute all offset at first rendering. I also generate  that ABCD...Z shortcuts on the right (see screenshot)

It would be nice to have that available in that component

![imag

[2020-02-06 11:35] wachalala commented on #23
I just tested that code but i have a compiler error :

/C:/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_sticky_header-0.3.4/lib/src/widgets/sticky_header_layout_builder.dart:147:16: Error: The argument type 'String' can't be assigned to the parameter type 'DiagnosticsNode'.

      context: context);

Any idea maybe ?

Thank you :)

[2020-02-13 13:46] #33 closed

[2020-02-13 20:20] pkitatta commented on #1
Was helpful thanks. Being new to flutter sometime you can know the advantages.

[2020-02-14 07:41] pkitatta commented on #11
Hi @letsar , any plans to pull this off? Nice plugin though. @wwwdata did you get a workaround you can share?

@pavelmeerkat Thanks for the insight. I was actually using that plugin but I was looking for something that would help me a implement scroll-to-item in the grouped list. I need to be able to scroll to individual items on a certain click. I am not yet a master in flutter but from your code

[2020-02-14 08:17] wwwdata commented on #11
@pkitatta no sorry I didn't look any further into this. For the App that I developed back then we found another good UI solution that worked out. And then I didn't look into this issue anymore.

[2020-02-15 08:47] pkitatta commented on #11
@wwwdata thanks, I will probably build my own solution. I have been chatting a maker of a similar plugin, and he discouraged me from using the current sticky header plugins available (including his) for my app for performance reasons. I am building a chat app and need to group messages by date.

So, would gladly welcome any insight you can give on how you went about your solution - if you didn't p

[2020-02-21 10:35] letsar commented on #39
You cannot use a Sliver in a CustomMultiChildLayout. This package is only intended to be used in a scroll view (like CustomScrollView).

[2020-02-21 10:35] #39 closed

[2020-02-21 13:30] letsar commented on #35
This is not an issue with this package. Try to add a SliverAppBar just before the SliverStickyHeaders and you will see the same thing.
It seems to be related to https://github.com/flutter/flutter/issues/17518

[2020-02-21 13:30] #35 closed

[2020-02-21 14:23] letsar commented on #29
Good idea, but I'm not sure I can do it with the current state of this project. A header should know the state of the previous one in order to do this kind of feature.

[2020-02-23 14:06] SnowXD commented on #23
@wachalala My first guess would be that the flutter_sticky_header library hasn't been updated

[2020-02-26 10:24] misskter opened #42 "extendBodyBehindAppBar = true"
when i use Scaffold extendBodyBehindAppBar = true, the head will slide to the top, so the head will be hidden.I hope this can be fixed under the AppBar，thanks

[2020-03-07 15:36] fadhlisulaimi opened #43 "Unable to trigger onTap event on first sticky header"
Hi, first of all thank you for this plugin. I really love it.

There is one thing I can't seem to figure out, which is why my first sticky header is not able to register any onTap events. Other sticky header is okay.

If you look at the image below, imagine a container surrounding the "xcodes and #1". The icon on the right, upon onTap it will open a pop up dialog. I tried clicking on it many times

[2020-03-08 01:29] fadhlisulaimi commented on #43
Managed to trigger onTap event when i aligned the dotted icons at the bottom. Not sure why though, im pretty sure the layout above it is not overlapped

[2020-03-08 01:29] #43 closed

[2020-03-12 20:46] emvaized commented on #18
I have the same issue too.
@letsar Please add support for floating SliverAppBar.

[2020-03-12 21:06] emvaized commented on #32
@letsar Any updates on this issue?

[2020-03-14 02:21] tp7309 commented on #32
My sticky header implemention, use one SliverList.
[sticky_and_expandable_list](https://pub.dev/packages/sticky_and_expandable_list).

[2020-03-19 17:19] emvaized commented on #32
@durduman
As a workaround, you can use something like this to create analog of ListView.builder:

[code]

[2020-03-19 18:52] emvaized commented on #18
@Thomaszhouwu
I found the solution -- you just have to wrap your main `Scaffold` in `SafeArea` widget.

[2020-03-21 21:44] progid commented on #11
I'm really need this feature. Trying to write myself.

[2020-04-03 12:57] glenfordwilliams opened #44 "Header width anad height"
Is there a way to do a header with a custom width and height? i'm trying to use a header that's more of a sidebar, something similar to this.

![image](https://user-images.githubusercontent.com/1114368/78363044-b7e93880-7580-11ea-880c-419e75dcc138.png)

[2020-04-08 16:17] raugaral opened #45 "Notifies when the header scrolls down but not top"
I need to know which element is hooked up. For this I have used a controller and added a listener, but this listener is only called when I scroll down, but not up.

[2020-04-09 11:13] #45 closed

[2020-04-18 07:55] DNetORM commented on #41
you can  use GlobalKey.
I used globalkey to solve it.Give you some core code for reference

  List<GlobalKey> itemKeys = [];
  GlobalKey headkey = new GlobalKey();

headkey is use to get  the appbar bottom offset1,itemKey is use to get the  item widget offset2,then offset2-offset1 is the scroll position.

      List data = response.data["Categories"];
      data.forEach((m) => itemKeys.add(new Glo

[2020-04-18 15:20] DNetORM opened #46 "StickyHeaderController addListener can only monitor once？"
controller.addListener(() {
          print(controller.stickyHeaderScrollOffset);
          if (controller.stickyHeaderScrollOffset > 0 && c.offset == null) {
            c.offset = controller.stickyHeaderScrollOffset;
          }
        });

The first time I scroll up, it prints, but the second time I scroll up, it doesn't print， only listen once，why?

[2020-04-21 01:35] sofman98 opened #47 "Programmatically Scroll to a certain header"
I’m trying to create a custom widget composed of two scrollable items (like a ListView) next to each other. The one on the right contains the main data separated into different sections (same List), the one on the left contains the sections (or shortcuts) of the right one. For example, if I press on the third item of the left List, I would be automatically scrolled down to the third section of the

[2020-06-06 14:44] YeungKC opened #48 "add pinned callback?"
Sometimes a callback may be needed to make sure that the header is fixed. Maybe it would be better to add a callback?

[2020-08-12 08:16] DNetORM opened #50 "Compiler error"
/sliver_sticky_header.dart:288:11: Error: Superclass has no method named 'forgetChild'.
    super.forgetChild(child);

[2020-08-14 07:37] tennysondy commented on #50
the same error，how to solve?

[2020-08-21 04:01] drizzle-zl opened #51 "compling error"
![image](https://user-images.githubusercontent.com/51873156/90850053-4e3cc000-e3a3-11ea-9654-51fe9d229c73.png)
it has something wrong when complie

[2020-08-22 18:29] mehrdad-shokri opened #52 "Build StickyHeaders dynamicly"
Hi, thanks for your library this is not an issue/bug with this library. I'm stuck on generating ``StickyHeader`` as a builder pattern.  I want to create a finite list just like ``ListView.Builder`` but with ``CustomScrollView``. More detail can be found [here](https://stackoverflow.com/questions/63528677/builder-pattern-slivers-passed-to-customscrollview) sorry again for opening this issue

[2020-08-26 19:43] letsar commented on #52
Can you elaborate?

You can do something like this:
[code]

[2020-08-27 03:16] fenchai23 opened #53 "Dynamically add sticky header to a sliverList by group?"
I already have a SliverList like this

[code]

How do I add sticker headers by group with `itemsCatalogDisplay[index].group` ?

[2020-08-27 16:38] mehrdad-shokri commented on #52
I'm creating upcoming page of a todo app. user can scroll indefinitely so ``groups`` isn't something I want. Besides, Items should be created dynamically inside ``slivers``

[2020-09-03 17:14] jaysephjw opened #54 "Version 0.4.6 requires Fluter 1.20+ because of transitive dependency, breaks"
As you are maybe aware version 0.4.6 uses flutter_layout_builder 0.1.0 which implicitly requires flutter 1.20+, which I'm not on yet. This broke after upgrade for me, with my non-breaking version constraint on sticky_header.

If 0.5.0 is just to get out .4.6's changes with proper version constraint, maybe consider publishing an 0.4.7 that reverts 0.4.6's new dependency? I don't know if that's best

[2020-09-03 19:00] letsar commented on #54
Hi @jaysephjw, I'm not sure I would be able to publish a new version with a semver older than the currently one.

[2020-09-07 15:03] Kingtous commented on #54
facing the same issue... Downgrade to 0.4.5 may work.

[2020-09-07 18:46] jaysephjw commented on #54
Yup was no big issue for me, just fix to 0.4.5 until I am ready for Flutter 1.20+.

[2020-10-07 08:38] JEuler opened #55 "Scrolling beneath"
Hi! I'm trying to stick the top widget (Header) at the top of CustomScrollView. And then, with scrolling, it will change it's height. I have working setup with SliverAppBar, but it requires manual calculations of height for collapsed and expanded states, so, I'm worrying about multiple devices support.

I've tried to use your package, but I'm facing the following issue:
![2020-10-07_11-36-07](http

[2021-01-19 15:19] deepak786 commented on #37
@trqalothman how did you manage to solve this?
I will have the data:
[code]

I want the date field to be sticky so that data related to the same date will be under one header.

[2021-01-20 07:27] trqalothman commented on #37
@deepak786
the way I solved this is by having two step process, first I query only the dates list that will be the headers

`SELECT DISTINCT DATE FROM ... WHERE [DATE RANGE YOU DESIRE]`

storing the result in a list, and then iterating through the headers list i create another list for the items inside each date

`SELECT * FROM .... WHERE DATE = [DATE VALUE FROM OUTER ITERATION]`

then you send th

[2021-01-23 01:12] mwinfomatica opened #56 "scrollPercentage only 0 or 1"
My scrollPercentage gets only 0 or 1.

`Scaffold(
      body: SafeArea(
        child: CustomScrollView(
          slivers: [
            SliverStickyHeader.builder(
              builder: (context, state) => Container(
                    height: 60.0,
                    color: (state.isPinned ? Colors.pink : Colors.lightBlue)
                        .withOpacity(1.0 - state.scrollPercentage),

[2021-02-12 18:51] jamesdixon commented on #47
@sofman98 did you ever find a method to do this?

[2021-02-12 21:11] sofman98 commented on #47
Unfortunately not exactly as in the video, however I did use a package that permitted to scroll to a certain index. I don’t exactly remember its name though..

[2021-02-23 08:03] IchordeDionysos opened #57 "Support null safety"
This is a request to add support for [null safety](https://dart.dev/null-safety) to `package:flutter_sticky_header`.
We depend on your awesome package, so would be great to have null safety enabled.

The Dart/Flutter team already encourages publishing the migrated packages: See [this blog post](https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010).

See

[2021-02-23 08:04] IchordeDionysos commented on #57
Blocked by letsar/value_layout_builder#3

[2021-02-23 22:30] romaopedro commented on #52
@letsar I want to achieve the result of your example.
`elements.map` won't work because it returns an `Iterable` and we need a Widget Element.

I tried using SliverList to generate multiple widgets and List.generate, but none of them worked, I got multiple errors from the compiler.
This is my example
[code]

[2021-03-03 16:23] dgilperez commented on #56
I am seeing the same issue

[2021-03-03 19:31] IchordeDionysos commented on #57
The new Dart version was just released 😍
https://medium.com/dartlang/announcing-dart-2-12-499a6e689c87

[2021-03-14 11:47] omidraha commented on #32
[code]

[2021-03-15 09:33] zs-dima commented on #57
Any updates on this issue are welcome

[2021-03-29 09:17] ThexXTURBOXx commented on #57
Workaround, use this version here:
[code]

[2021-03-29 15:14] spkersten opened #59 "Scrollable.ensureVisible(context) broken due to incorrect childScrollOffset()"
When using `Scrollable.ensureVisible(context)` on a child of `SliverStickyHeader` with `overlapsContent: true`, the `Scrollable` scroll to the wrong position.

The problem appears to be in `childScrollOffset` (https://github.com/letsar/flutter_sticky_header/blob/master/lib/src/rendering/sliver_sticky_header.dart#L346) which returns `_headerExtent` even with overlapping headers. I think that should

[2021-04-08 08:51] innwin commented on #57
value_layout_builder ^0.3.0 which doesn't match any versions

[2021-04-08 09:54] ThexXTURBOXx commented on #57
@innwin I accidentally pushed some local changes I wanted to push in the near future. Give me a minute, I will create a new branch with some temporary stuff

[2021-04-08 09:58] ThexXTURBOXx commented on #57
@innwin and all others here: I added a new branch. Use this one now: https://github.com/letsar/flutter_sticky_header/issues/57#issuecomment-809217542

[2021-04-10 19:39] #57 closed

[2021-04-21 11:49] amitkot opened #62 "Error: type 'BoxValueConstraints<SliverStickyHeaderState?>' is not a subtype of type 'BoxValueConstraints<SliverStickyHeaderState>' in type cast"
Getting this error while using SliverStickyHeader:

[code]

Using ```  flutter_sticky_header: ^0.6.0```.

More log info:
[code]

[2021-04-23 04:45] Peng-Qian commented on #62
please fix this type bug

[2021-05-19 01:25] natalieeeflores opened #64 "localPosition in GestureDetector details is incorrect"
The vertical offset of the `localPosition` for `onTapDown`, when a `GestureDetector` is used in the child sliver, is offset by the size of the header in the sticky header component. For example, I would expect the top right corner of the container to be (0, 0) but if the header is 40 pixels high the top right corner is actually (0, 40).

Here's a gif, illustrating the issue:
![Kapture 2021-05-18 a

[2021-05-21 02:48] frogman1189 commented on #11
Is there any progress on this feature? Would be really useful

[2021-06-08 13:02] AlexanderFarkas opened #65 "Does this package support horizontal scroll views?"

[2021-06-16 13:17] erfanium opened #66 "How to implement nested SliverList?"
First I use this example from here:
https://github.com/letsar/flutter_sticky_header/blob/master/example/lib/examples/mix_slivers.dart

Instead of hard-coded `_StickyHeaderList` in build method:
https://github.com/letsar/flutter_sticky_header/blob/ea97f5455a7eb52899a15cd9aed0b79286648963/example/lib/examples/mix_slivers.dart#L12-L35

 I want to use another ListView like:
[code]

But I get this erro

[2021-06-24 10:51] UnderKoen commented on #13
Added this with #67 (supports more than two levels)

[2021-07-05 13:42] yasinarik commented on #62
@UnderKoen already made a PR for this package. I think it should be merged. Until then, if you want to fix this issue (and also want to use multiple slivers as a child):

1. Go to your project's `pubspec.yaml`
2.
[code]

**Thanks a lot @UnderKoen!**

[2021-10-26 23:41] ehabreda opened #69 "is there is a way to scroll to a particular header using its index or any other way?"
Thanks for this useful library..
in my use case I will group a list of matches by its dates, a few matches every day, and today's date should be in the middle of let us say 2 weeks, one week in the past and another week into the future.
is there is a way to scroll to today's header using it's index?

Thanks

[2021-11-26 13:27] royvangeel opened #70 "Listener on header sticked"
Is it possible to detect when a header is sticked (like using a listener of provide a callback)? I need to create the effect like in the video; I have a header for each weekday, the calendar above the listview needs to be updated based on the sticked header.
I haven't figured out how to do. Thanks!

https://user-images.githubusercontent.com/39674633/143587747-f63970e7-2e1f-4e18-acc2-fd0180ad7e22.m

[2021-12-13 13:42] shw2ypro commented on #70
Hello
Did you find a way to do that? @royvangeel

[2021-12-16 10:40] royvangeel commented on #70
@shw2ypro yes, but not using this package. I managed using the sticky_and_expandable_list package and wrap the upper calendar with a StreamBuilder so the ListView pushes the sticked Date into the sink. But I would like to know how to achieve it with this package.

[2022-01-22 08:45] MohsenHaydari commented on #11
i solved this problem with [visibility_detector ](https://pub.dev/packages/visibility_detector) package  and notificationListener like this
# view
[code]
Methods
[code]

[2022-01-28 05:41] trqalothman commented on #8
I am facing the same issue.  It is very obvious on iPhone 6, iOS v12.5.5.  I have a container with a `CustomScrollView` and it is leaving a transparent 1-pixel line between the top of the sticky header and the container.

Default settings for `CustomScrollView` to have `clipBehavior: Clip.HardEdge`.  I changed this to be `clipBehavior: Clip.antiAlias` and it does help making it less visible.  Hope

[2022-01-31 15:51] danallen88 opened #71 "Sticky headers not working with NestedScrollView"
I took the first sample from Flutter's documentation on this page:

https://api.flutter.dev/flutter/widgets/NestedScrollView-class.html#widgets.NestedScrollView.1

and wrapped the `SliverFixedExtentList` in a `SliverStickyHeader` element and the headers are not sticking to the top of the list.  I've tried this in a variety of places but can't seem to make a sticky header work using this library or

[2022-02-16 14:48] cedvdb opened #72 "Content scrolling under tab bar"
In the repro below the content is scrolling under the tab bar. I'm unsure this is a bug because the tab bar is set to have a `collapsedSize` of 0, However there is a bottom tab bar displayed and I think it should be taken into account. If there  is a way to do this it is not exactly clear from the documentation either imo.

# Repro

[code]

[2022-02-16 15:05] #72 closed

[2022-03-01 11:43] letsar commented on #62
Fixed in 0.6.1, thank you @amitkot

[2022-03-01 11:43] #62 closed

[2022-03-08 01:18] cgestes commented on #5
This fork has working nested SliverStickyHeaders 🗡️

https://github.com/UnderKoen/flutter_sticky_header

[2022-03-14 17:48] vikasshanmu opened #73 "Not working with android api 31"
Sticky header not working with android api 31 , leaves a dependency issue on latest dart 2.16.1.  When do we get the updated library for latest dart.

[2022-04-13 07:30] kingglov commented on #8
i am facing the same issue but finally
![WhatsApp Image 2022-04-13 at 12 57 31 PM](https://user-images.githubusercontent.com/50819408/163123333-df18f213-c59a-482d-ae90-7d1d9623a4e3.jpeg)
![WhatsApp Image 2022-04-13 at 12 57 30 PM](https://user-images.githubusercontent.com/50819408/163123347-c37d7fc5-21ab-44fa-b4ef-610c1f850ba5.jpeg)
fixed this by adding container with same color to the bottom of S

[2022-05-10 10:46] luissalgadofreire opened #74 "Only scrolls with SliverFillRemaining and takes to much space at the end"
I have working code with `SliverStickyHeader` but need to add `SliverFillRemaining` at the end for the list of slivers to scroll. Scrolling doesn't work without it. The problem is it takes too much space (the whole viewport height) at the end.

<img src="https://gitlab.com/thesaultymonk/public/tsm-share/-/raw/main/CleanShot_2022-05-10_at_11.57.31_2x.png?inline=false" height="600" />

Is there anyt

[2022-05-10 14:08] luissalgadofreire commented on #74
It turns out the initial list was smaller than the viewport and scrolling was not being activated. I ended up

* adding a `SliverAdapterToBox` at the end
* setting `SliverFillRemaining` `hasScrollBody` to  false.

The above changes forced scrolling while having `SliverFillRemaining` only fill the space down to the end of the viewport. Everything started working as it should.

[code]

[2022-05-10 14:13] #74 closed

[2022-05-11 11:41] realWayneZhang opened #75 "Version 0.6.2 can not response events when widget in the header, such as Inkwell、Button etc."
You can duplicate the issue by running the code as below.

[code]

[2022-05-12 13:58] abellee commented on #75
me too

[2022-05-13 14:13] HamzaMukhtar1 commented on #75
I'm getting this is too

[2022-05-16 20:46] LeonardFS opened #76 "Sticky Headers kill scroll or events in a tabbar"
It was working then , without any modifications it stopped working, and listening in any event inside of the sticky header, such as onTap of a tab bar

import 'package:ecosolys/components/ecs_status_badge.dart';
import 'package:ecosolys/components/utils/spinner_carregando.dart';
import 'package:ecosolys/pages/gerais/carregando_page.dart';
import 'package:ecosolys/pages/inversor/Inversores_componen

[2022-05-17 14:09] xuhongfei commented on #75
same issue

[2022-05-18 08:09] DenizMisirlioglu commented on #76
I have exactly the same issue. It was just working one day ago. Now it won't scroll or tap any item in the sticky header.

[2022-05-19 03:45] LeonardFS commented on #76
@DenizMisirlioglu i've solved the issues going to version 0.6.0 and locking my pubspec to that version ( removing the "^" before the version in the yaml)

Now everything works fine.

I think there is an issue with 0.6.1+

[2022-05-19 05:38] helloV7 commented on #75
`pubspec.yaml `  file
`flutter_sticky_header: ^0.6.1 `to` flutter_sticky_header: 0.6.1`
  then run ` flutter pub get`

[2022-05-19 07:43] marinat commented on #71
@danallen88 Hi, I found workaround for this!
Many thanks to @lavinov-mercury
https://github.com/flutter/flutter/issues/91972

[2022-05-25 08:02] letsar commented on #73
This is not a plugin, there should be no dependency on the android version.

[2022-05-26 08:59] KanybekMomukeyev commented on #75
2 day researched this issue, and finally find the reason

[2022-05-29 19:18] amsayk commented on #75
@letsar

This issue still exists when the sticky header is in a snapped state. It becomes impossible to click on anything rendered with the header.

Thanks for amazing library!

[2022-05-30 06:40] letsar commented on #75
@amsayk have you a complete example I could run? I didn't reproduced what you described

[2022-05-30 16:16] amsayk commented on #75
@letsar Here is a `main.dart` to reproduce it. The only package installed is `flutter_sticky_header` version `0.6.3`.

It works if you comment out the `CupertinoSliverNavigationBar `. Otherwise, no other factor seems to matter.

[code]

Hope it helps!

[2022-06-02 18:45] LeonardFS commented on #76
Confirm. it's now working as intended

[2022-06-27 16:19] mherbert93 commented on #75
Experiencing the same issue with versions above 0.6.1.

[2022-06-30 12:16] Tony0205 commented on #75
I faced the same issue. This issue seems to have been resolved in version `flutter_sticky_header: ^0.6.3`.
and it works fine with version `flutter_sticky_header: 0.6.1` too.

[2022-07-13 16:19] #75 closed

[2022-07-13 16:19] #73 closed

[2022-07-13 16:42] #71 closed, assigned to nobody

[2022-07-13 16:44] letsar commented on #66
What do you want to achieve exactly? Here you provide a Sliver to the leading of the ListTile, that's why there is an error.

[2022-07-13 16:45] letsar commented on #69
Hello, your can use https://pub.dev/packages/scroll_to_index package to achieve what you want.

[2022-07-13 16:45] #69 closed

[2022-07-13 16:46] letsar commented on #65
yes

[2022-07-13 16:46] #65 closed

[2022-07-13 16:46] letsar commented on #64
What is the version you use? Is it the same with the latest one?

[2022-07-13 16:49] letsar commented on #56
If you look at the example, it varies from 0 to 1. Can you provide a complete example I could just copy/paste and run to test?

[2022-07-13 16:49] letsar commented on #55
You should add a background color to the header

[2022-07-13 16:50] #54 closed

[2022-07-13 16:50] #51 closed

[2022-07-13 16:50] #50 closed

[2022-07-13 16:50] #25 closed

[2022-07-13 16:51] #1 closed

[2022-07-13 16:51] #8 closed

[2022-07-13 16:53] #14 closed

[2022-07-13 16:54] letsar commented on #13
Published in version 0.6.4, you can use [MultiSliver](https://pub.dev/packages/sliver_tools#multisliver) with this package to have the desired effect.

[2022-07-13 16:58] letsar commented on #17
Do you still have the issue?

[2022-07-13 16:58] #18 closed

[2022-07-13 16:59] letsar commented on #21
Without some code, not really. This seems to be a general question and I don't think the issue is related to this package.

[2022-07-13 16:59] #21 closed

[2022-07-13 16:59] #22 closed

[2022-07-13 17:00] #23 closed

[2022-07-13 17:01] JWong1105 commented on #29
您的邮件我已收到！祝您天天好心情~王杰 

[2022-07-13 17:01] letsar commented on #31
Not the purpose of this package sorry.

[2022-07-13 17:01] #31 closed

[2022-07-13 17:02] letsar commented on #32
You should use a CustomScrollView instead.

[2022-07-13 17:02] #32 closed

[2022-07-13 17:04] letsar commented on #40
Can you test with the latests version?

[2022-07-13 17:05] letsar commented on #41
This is not the purpose of this package.

[2022-07-13 17:05] #41 closed

[2022-07-13 17:05] letsar commented on #42
I don't really understand the issue, can you show some code, and what you would expect?

[2022-07-13 17:06] letsar commented on #44
Not sure this is the right component to do that.

[2022-07-13 17:06] TatsuUkraine commented on #16
Good example is google calendar, agenda view. With sticky dates

[2022-07-13 17:07] letsar commented on #47
You can use https://pub.dev/packages/scroll_to_index in combination with this package to achieve what you want.

[2022-07-13 17:07] #47 closed

[2022-07-13 17:08] #52 closed

[2022-07-13 17:08] TatsuUkraine commented on #16
While I was waiting for a response I actually build my own implementation to solve this 😅

[2022-07-13 17:09] letsar commented on #53
For each group you create a SliverStickyHeader, I don't really understand what is the issue here. Maybe ask on StackOverflow if it doesn't help you.

[2022-07-13 17:09] #53 closed

[2022-07-13 17:11] letsar commented on #70
Interesting use case

[2022-07-13 17:12] letsar commented on #16
Ok, so I can close this then. Sorry for the delay ^^

[2022-07-13 17:12] #16 closed

[2022-07-13 17:13] TatsuUkraine commented on #16
@letsar I was hoping that you can recommend how this can be achieved with your package though)

[2022-07-13 21:52] vanlooverenkoen commented on #8
@letsar is this fixed?

[2022-07-19 19:10] charlesRmajor commented on #11
I merged the feature/reverse in on my own fork: https://github.com/charlesRmajor/flutter_sticky_header

[2022-07-21 04:41] Areopagitics opened #77 "[BUG] CustomScrollView with "center" scrolls backwards"
When using center key, the header gets stuck on the bottom. I wondering if there is a way to simply display headers for months and years indefinitely starting at a certain date in the center. There seems to be no easy way to solve this problem in Flutter.
[code]
<img src="https://user-images.githubusercontent.com/24683841/180130448-a6f23cae-1bd5-4ca5-8ac2-eaacfcb7b5b5.gif" width="300"/>

[2022-07-21 18:59] charlesRmajor commented on #11
I forked this repo and got reverse working for my use case if that helps anyone else. I haven't had a chance to test it for the other uses: https://github.com/charlesRmajor/flutter_sticky_header

Sent a PR with the updates to the feature/reverse branch if you'd like to have it, @letsar

[2022-07-27 03:51] Ravensof opened #79 "Can't tap TextField in sticky header"
Hi. I'm trying to use text field, but i cant tap on it cause nothing happens. what should i do?

![image](https://user-images.githubusercontent.com/47619905/181156758-b926c429-3a89-4e7e-b50c-cc339ee489c8.png)

[2022-08-07 23:45] jqp4 commented on #11
@charlesRmajor
unfortunately this doesn't work for me.

all rendering areas have moved up, although the rendering itself looks normal. because of this, the optimizer breaks, hiding widgets that have gone beyond the screen. that is, the drawing area has disappeared, but their image is still there and flutter simply turns it off. also because of this, working out pressing the widget does not work.
u

[2022-08-08 14:59] charlesRmajor commented on #11
Yeah ... I only got it working for my particular situation. I added a reverse2 example that was working to my fork. If it helps, here's how I'm using it currently:

[code]

[2022-08-10 17:46] jqp4 commented on #11
@charlesRmajor

yes, that's what I do. the SliverStickyHeaderState contains incorrect information, and the widget click area inside the list still slides up if the header height is not zero.

[2022-08-16 09:03] timcreatedit commented on #79
Hit testing in pinned headers seems to be completely broken, as soon as a header sticks, it doesn't receive taps anymore

[2022-08-18 16:02] BOGDANOLEKSANDR opened #80 "Tap on element inside SliverStickyHeader hit test gets broken when using with floating SliverAppBar"
Hi, I was trying to add some interaction to elements inside SliverStickyHeader and floating SliverAppBar. Noticed that when you scroll the list down till the SliverAppBar disappears and then scroll up a little bit until SliverAppBar appears again, the `onTap` event won't fire any more.

Below I'm adding the code that reproduces the issue. I have added a clickable element "Sometimes I'm not clickab

[2022-08-23 19:23] Nasirdev74 commented on #80
same here. did you find any solution ??

[2022-08-24 08:04] BOGDANOLEKSANDR commented on #80
Unfortunately, not yet...

[2022-08-27 13:12] KanybekMomukeyev commented on #80
Absolutelly same here, @BOGDANOLEKSANDR did you find solution?

[2022-08-27 13:13] KanybekMomukeyev commented on #80
@letsar is there any solution for this issue? This is critical bug coming from library.

[2022-09-07 07:27] rivkazi commented on #79
Same issue for me with a Tab bar inside the header, any solutions?

[2022-09-07 09:12] agoldm commented on #80
Same here. Can anyone tell why this is happening?

[2022-09-13 03:12] loveway opened #81 "How to use as a sticky footer?"

[2022-09-28 13:46] kimmy214 opened #82 "When pulling down to refresh, the header does not scroll with it"
When pulling down to refresh, the header does not scroll with it.

<img width="492" alt="截屏2022-09-28 21 44 30" src="https://user-images.githubusercontent.com/19725091/192795401-2e5ac015-5bb6-4e6b-810b-b12664525228.png">

[2022-10-18 02:43] darrillaga commented on #80
Same here, I've also found that tap events get like an offset from the visible element position.
So tapping at some distance on top shows a tap on the button showing like some offset is being applied on the gesture or something.

[2022-10-28 15:54] b3nni97 opened #84 "SliverStickyHeader not working on latest master (3.5.0-10.0.pre.141)"
Hi, I updated to the latest Master Branch yesterday and found that SliverStickyHeader no longer works.

[2022-11-01 10:36] John251314 commented on #79
same here. did you find any solution ??

[2022-11-01 19:26] letsar commented on #84
What is the issue?

[2022-11-02 22:19] b3nni97 commented on #84
The SliverStickyHeader are not sticky, they scroll out of the viewport.

Can't you reproduce the problem on the latest master?

[2022-11-28 06:10] werlangfelipe opened #85 "How to go to a specific header?"
Through the DefaultStickyHeaderController Controller I managed to change the scroll, but is it possible to go directly to the index?